.TableContainer-excluir {
  margin-top: 20px;
}

.TableContainer-editar {
  margin: 20px 0 0 20px;
}

.TableContainer-empty {
  color: #c5c5c5;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
